<html>

<head>
    <title>Credit Card Transaction</title>
</head>

<body>
    <h3>User Checkout Form</h3>

    <form method="POST" action="/checkoutPart/processCC">
        <label>Name: </label><br>
        <input type="text" name="name"><br>

        <label>Email Address: </label><br>
        <input type="text" name="email"><br>

        <label>Credit Card Number: </label><br>
        <input type="text" name="cc"><br>

        <label>Expiration Date: </label><br>
        <input type="text" name="exp"><br>

        <br>
        <button type="submit">Complete Checkout</button>
    </form>

    <br>
    <br>
    <br>
    <br>
    example input: jonathon, myemail@gmail.com, 6011 1234 4321 1234, 12/2028
</body>

</html>
