<html>

<style>
    .catalog {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    table {
        border: 2px solid;
    }

    table, th, td {
        border: 1px solid;
        border-collapse: collapse;
        padding: 5px;
    }

    th {
        background-color: darkgoldenrod;
        border-color: black;
        color: white;
    }

    tr.data {
        cursor: pointer;
    }

    tr:nth-child(even).data {
        background-color: blanchedalmond;
    }

    tr:hover.data {
        background-color: khaki;
    }
    td {
    text-align: center;
    }
    header {
        background-color: rgb(145, 8, 8);
        border-color: black;
        color: white;
        text-align: center;
        font-size: 30px;
        margin: 20px;
    }


    
</style>



<head>
    <title>Inventory</title>
    <header>Inventory</header>
    <div class="catalog">
    <table>
        <tr>
            <th>Part Number</th>
            <th>Quantity On Hand</th>
            <th>Change Quantity to?</th>
        </tr>   

        <% for (part in all) { %>
        <tr>
            <td><%= all[part].partNumber %></td>
            <td><%= all[part].quantityOnHand%></td>
            <td>
                <form action="/desk/<%=all[part].partNumber%>" method="POST">
                    <input type="text" name="quantity" value=""><br><br>
                    <input type="submit" value="Submit">
                </form>
            </td>
        <% }; %>
        </tr>

    </table>
    </div>
</head>
<body>

</body>

</html>

