
<html>

<style>
    .catalog {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header {
        text-align: center;
        font-size: 30px;
        margin: 50px;
    }

    ul {
        background: rgb(64, 206, 156);
        padding: 20px;
    }

    ul li {
        background: rgb(255, 121, 104);
        color: rgb(2, 2, 58);
        margin: 50px;
    }

    
</style>

<html>
    <div class="catalog">
    <body>
        <header>Product Server</header>
        <ul>
            <li><a href="getParts">get all parts</a></li>
            <li><a href="desk">Warehouse desk</a></li>
            <li><a href="warehouse">Warehouse Worker</a></li>
        </ul>
    </body>
    </div>
</html>
