<html>

<style>
    .catalog {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    table {
        border: 2px solid;
    }

    table, th, td {
        border: 1px solid;
        border-collapse: collapse;
        padding: 5px;
    }

    th {
        background-color: darkgoldenrod;
        border-color: black;
        color: white;
    }

    tr.data {
        cursor: pointer;
    }

    tr:nth-child(even).data {
        background-color: blanchedalmond;
    }

    tr:hover.data {
        background-color: khaki;
    }

    
</style>

<head>
    <title>Work list</title>
</head>

<html>